extends ../template/template.pug

block content

    .container
        .item1
            include ../sections/for-ui-kit/color-and-types/color-and-types.pug
        .item2
            include ../sections/for-ui-kit/cards/cards.pug
        .item3
            include ../sections/for-ui-kit/headers-and-footers/headers-and-footers.pug
        .item4
            include ../sections/for-ui-kit/form-elements/form-elements.pug
