mixin subscription-text-field(options = {})
    .subscription-text-field
        if options.title
            h3.subscription-text-field__title=options.title
        .subscription-text-field__input-container
            button.subscription-text-field__button(type="submit")
                span.subscription-text-field__arrow
            input.subscription-text-field__input(type="email" placeholder="Email")